footer{
  background: $black;
  height: 51px;
  line-height: 51px;
  color: $grey1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  a{
    color: $grey1;
    text-decoration: underline;
  }

  .copy{
    float: left;
    font-size: $f12;
  }

  .by{
    display: none;
    float: right;
    font-size: $f12;
  }

  .social{
    margin-top: 0;
    float: right;

    li{
      margin-left: 15px
    }

    a{
      text-decoration: none;
      font-size: $f18;
    }
  }

  @include media(768px) {
    .by{
      display: block;
    }

    .social{
      display: none;
    }
  }
}
