
header{
  position: fixed;
  z-index: 3;
  background: $white;
  width: 100%;
  top: 0;
  
  @include media($medium) {
    position: absolute;
  }
}

header{
  height: 65px;

  .social, .navigation{
    float: right;
    margin-top: 25px;
  }

  .navigation{
    a{
      color: $grey4;
      font-size: $f14;
    }
  }

  .social{
    display: none;

    li{
      margin-left: 15px;
    }

    a{
      color: $grey4;
    }
  }

  @include media($small) {
    .navigation{
      margin-right: 0;
    }

    .social{
      display: block;
    }
  }

}

.logo{
  float: left;
  padding: 15px 0;

  a{
    display: block;
    @include size(104px 35px);
    @include retina-image("../images/logo", 104px 35px);
    text-indent: -99999px;
  }


}
