header{
  height: 65px;

  .social, .navigation{
    float: right;
    margin-top: 25px;

    li{
      @include inline-block;
      margin-left: 20px;
    }
  }

  .navigation{
    a{
      color: $grey4;
    }
  }

  .social{
    margin-right: 30px;

    a{
      color: $grey4;
    }
  }
}

.logo{
  float: left;
  padding: 15px 0;
  margin-left: 30px;

  a{
    display: block;
    @include size(104px 35px);
    @include retina-image("../images/logo", 104px 35px);
    text-indent: -99999px;
  }
}
