$giorgio: 'GiorgioSansBold', sans-serif;
$garage: 'GarageGothicBlackRegular', sans-serif;
$primary-font: Arial, sans-serif;


$white: #fff;
$grey: #afafaf;
$grey1: #808080;
$grey2: #d0d0d0;
$grey3: #989898;
$grey4: #999;
$grey5: #ccc;
$grey6: #474747;

$red: #ea451e;

$black: #000;
