$giorgio: 'GiorgioSansBold', sans-serif;
$primary-font: 'Helvetica', Arial, sans-serif;

$white: #fff;
$grey:  #afafaf;
$grey1: #808080;
$grey2: #d0d0d0;
$grey3: #989898;
$grey4: #999;
$grey5: #ccc;
$grey6: #474747;
$grey7: #6B6B6B;
$grey8: #e0e0e0;
$grey9: #111;
$grey10: #e2e2e2;
$grey11: #9D9E9E;
$grey12: #020202;
$grey13: #ededed;

$red:   #ea451e;

$black: #000;
