@font-face {
  font-family: 'GiorgioSansBold';
  src: url('../fonts/giorgio/giorgiosans-bold.eot');
  src: url('../fonts/giorgio/giorgiosans-bold.eot') format('embedded-opentype'),
       url('../fonts/giorgio/giorgiosans-bold.woff2') format('woff2'),
       url('../fonts/giorgio/giorgiosans-bold.woff') format('woff'),
       url('../fonts/giorgio/giorgiosans-bold.ttf') format('truetype'),
       url('../fonts/giorgio/giorgiosans-bold.svg#GiorgioSansBold') format('svg');
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?fdsp9a');
  src:url('../fonts/icomoon/icomoon.eot?#iefixfdsp9a') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.woff?fdsp9a') format('woff'),
    url('../fonts/icomoon/icomoon.ttf?fdsp9a') format('truetype'),
    url('../fonts/icomoon/icomoon.svg?fdsp9a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-play:before {
  content: "\e604";
}
.icon-facebook:before {
  content: "\e600";
}
.icon-instagram:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\e602";
}
.icon-soundcloud:before {
  content: "\e603";
}
