html, body {
  height: 100%;
}

body{
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
  margin: 0 0 10px;
  font-weight: normal;
}

ul{
  @extend %unlist;
}

a{
  text-decoration: none;
}

strong{
  font-weight: normal;
}

img{
  display: block;
  width: 100%;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.container{
  @include outer-container;
  margin: 0 auto;

  @include media ($medium) {
    max-width: em(972);
  }

  @include media ($large) {
    max-width: em(1155);
  }
}

.social, .navigation{
  li{
    @include inline-block;

    a{
      text-decoration: none;
      color: $grey5;
    }
  }
}

.social.square{

  ul{
    border-left: $grey6 solid 1px;
    overflow: hidden;
  }

  li{
    display: block;
    float: left;
    border: $grey6 solid 1px;
    border-left: none;
    text-align: center;

    &.facebook:hover a {
      background: #3b5998;
      
      i {
        color: #344f87;
      }

    }

    &.twitter:hover a {
      background: #33ccfe;

      i {
        color: #2db5e1;
      }
    }

    a{
      @include size(56px 43px);
      display: block;
      color: $grey6;
      line-height: 48px;
    }
  }

  @include media ($small) {
    li{

      a{
        @include size(44px 43px);
      }
    }
  }
}

.fullwidth{
  margin: 60px 0;
}

blockquote{
  p{
    margin: 40px 0 50px;
    color: $grey12;
    text-transform: uppercase;
  }
}

.box-list{
  background: $grey13;
  padding: 22px 0 25px;
  text-align: center;

  h2{
    font-size: 18px;
    color: $grey7;
    margin-bottom: 12px;
  }

  li{
    margin-bottom: 5px;
  }

  a{
    color: $grey7;
    font-size: 15px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px solid $grey7;

    &:hover {
      opacity: .6;
    }

  }//a

  @include media ($small) {
    width: 190px;
    float: right;
    padding: 25px;
    margin-left: 5px;
    margin-top: 3px;
    text-align: left;
    margin-right: 20px;
  }

  @include media ($medium) {
    float: left;
    margin-left: 5px;
  }

  @include media ($large) {
    width: 230px;
    margin: 3px 0 0;
  }
}

.sideleft{

  @include media ($small) {
    float: left;
    margin-left: 30px;
  }
}

.sideright{
  @include media ($small) {
    float: right;
    margin-right: 30px;
  }
}

.img-holder{
  margin: 21px 0;
}

.play{
  // position: absolute;

  a{
    color: $white;
  }
}
