.s-about{
  .about-detail{
    text-align: center;
    padding: 18px 15px 0;
  }

  h1{
    font-size: $f17;
    line-height: 26px;
    margin-bottom: 60px;

    a{
      color: $black;
      text-decoration: underline;
    }
  }

  @include media ($small) {
    .about-detail{
      margin-left: auto;
      margin-right: auto;
      padding: 26px 0px 0;
    }

    h1{
      margin-bottom: 48px;
      line-height: 37px;
      font-size: $f28;
    }
  }

  @include media ($medium) {
    .about-detail{
      padding: 42px 0 0;
    }

    h1{
      margin-bottom: 85px;
    }
  }
}

.team{
  margin-bottom: 33px;
  padding: 0 15px;

  li{
    border-top: $grey2 solid 1px;
    color: $grey3;
    padding: 10px 0 25px;
    overflow: hidden;

    a{
      color: $grey3;
      text-decoration: underline;
    }
  }

  h2{
    font-size: 15px;
    font-size: $f14;
    color: $black;
    margin-bottom: 10px;
  }

  .team-member-position{
    font-size: $f14;
  }

  .team-member{
    padding: 20px 0 10px;
  }

  .team-info{

    p{
      line-height: 25px;
      font-size: $f14;
    }
  }

  @include media ($small) {
    padding: 0 20px;;

    h2{
      font-size: $f15;
    }

    .team-member-position{
      font-size: $f15;
    }
  }

  @include media ($medium) {

    .team-member{
      @include span-columns(3);
      padding: 38px 0;
    }

    .team-info{
      @include span-columns(9);
      @include omega();
      min-height: 207px;
      padding: 18px 26px;

      p{
        font-size: $f15;
      }
    }
  }
}
