.homepage{

  article{
    margin-bottom: 10px;
  }
}

.opcover{
  background: $black;

  a{
    color: $white;
    display: block;
    position: relative;

    &:hover{
      img{
        opacity: .9;
      }
    }
  }

  h1{
    font-family: $giorgio;
    position: absolute;
    top: 27px;
    left: 10px;
    font-size: 37px;
    line-height: 28px;
    z-index: 2;

    @include media ($small) {
        left: 15px;
        font-size: 89px;
        line-height: 66px;
        width: 300px;
    }

    @include media($medium) {
      left: 30px;
    }

    span{
      display: block;
      font-size: 37px;
      line-height: 28px;
    }
  }

  img{
    @include transition(opacity .5s ease-out);
    z-index: 1;
    opacity: .5;
  }
}
