.session{
  .session-cover{
    img{
      width: 100%;
    }
  }

  .session-head{
    min-height: 324px;
    background: $black;
    color: $white;
    text-align: center;
    position: relative;
    padding: 44px 176px;

    a{
      color: $white;
    }

    h1{
      font-family: $giorgio;
      font-size: 89px;
      line-height: 66px;
      margin-bottom: 30px;

      span{
        display: block;
        font-size: 51px;
        line-height: 35px;
      }
    }

    p{
      font-size: 21px;
      line-height: 30px;
    }

    .social, .play{
      position: absolute;
    }

    .social{
      top: 46px;
      left: 30px;

      ul{
        border-left: $grey6 solid 1px;
        overflow: hidden;
      }

      li{
        display: block;
        float: left;
        border: $grey6 solid 1px;
        border-left: none;

        a{
          @include size(44px 43px);
          display: block;
          color: $grey6;
          line-height: 45px;
        }
      }
    }

    .play{
      right: 30px;
      top: 46px;

      .btn{

        i{
          font-size: 20px;
          position: relative;
          top: 5px;
          margin-right: 7px;
        }

        display: inline-block;
        background: $red;
        line-height: 46px;
        height: 45px;
        font-size: 12px;
        padding: 0 20px;
      }
    }
  }

  .session-info{
    
  }
}
