.session{
  #session-header{
    display: none;
    @include transition(all 0.3s ease);
    top: -73px;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,.1);
    z-index: 1;
    height: 73px;

    &.active{
      background: $white;
      top: 0;
    }

    .container{
      position: relative;
    }

    .logo{
      position: absolute;
      top: 3px;
    }

    .track{
      text-align: center;
      line-height: 70px;

      strong{
        font-size: 30px;
        font-family: $giorgio;
      }
    }

    .play{
      @extend %btn;
      position: absolute;
      right: 30px;
      top: 20px;
    }

    .previous,
    .next{
      margin: 0 23px;
      position: relative;
      top: -1px;
      font-size: 19px;
      color: $grey5;

      &:hover {
        opacity: 0.6;
      }
    }

    @include media ($medium) {
      display: block;
    }
  }

  .session-cover{
    .img-holder{
      margin: 0;
    }
  }

  .session-head{
    background: $black;
    color: $white;
    text-align: center;

    .container{
      // padding: 44px 205px 30px;
      position: relative;
    }

    a{
      color: $white;
    }

    h1{
      font-family: $giorgio;
      font-size: 71px;
      line-height: 66px;
      float: left;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 14px;

      span{
        display: block;
        font-size: 42px;
        line-height: 24px;
      }
    }

    p{
      font-size: 16px;
      line-height: 23px;
    }

    .social, .play{
    }

    .social{
      float: left;
    }

    .session-intro{
      padding: 0 20px 10px;
      clear: both;
    }

    .play{
      @extend %btn;
      text-align: left;
      float: right;
    }

    @media screen and (max-width: 320px){
      .play{
        .btn{
          width: 205px;
        }
      }
    }

    @include media ($small) {
       min-height: 324px;

      h1{
        font-size: 89px;
        margin-bottom: 30px;

        span{
          font-size: 51px;
          line-height: 35px;
        }
      }

      p{
        font-size: 21px;
        line-height: 30px;
      }

      .social, .play{
        position: absolute;
        top: 45px;
      }

      .social{
        left: 20px;
        float: none;
      }

      .play{
        right: 20px;

        .btn{

        }
      }
    }

    @include media ($medium) {
      .social{
        left: 5px;
      }

      .play{
        right: 5px;
      }
    }
  }

  .session-info{
    padding: 15px 0 12px;
    text-align: center;
    border-bottom: $grey8 solid 1px;
    min-height: 60px;

    ul{
      font-size: 0;
    }

    li{
      display: inline-block;
      line-height: 23px;
      font-size: 14px;
      color: $grey7;
      padding: 0 14px;
      border-right: $grey5 solid 1px;
      vertical-align: middle;

      &:last-child{
        border: none;
      }

    }

    .social{
      li{
        border: none;
        padding: 0 8px;

        &:hover a{
          opacity: 0.5;
        }
      }

      a{
        color: $grey4;
        font-size: 18px;
        position: relative;
        top: 4px;

        &.fb{
          top: 2px;
        }

        &.sc{
          font-size: 27px;
        }
      }
    }

    @media screen and (max-width: 320px) {
      li{
        &:first-child{
          border: none;
        }
      }
    }

    @include media ($small) {
      margin-bottom: 40px;
      padding: 12px 0;

      ul{
        height: 31px;
      }
      li{
        font-size: 15px;
        border-right: $grey5 solid 1px;
        line-height: 31px;
      }
    }

    @include media ($medium) {
      margin-bottom: 53px;
    }
  }
}

.post{
  article{
    padding-top: 20px;

    p{
      color: $grey7;
      font-size: 14px;
      line-height: 21px;
      padding: 0 20px;

      &.q{
        color: $grey9;
        margin: 0 auto;
      }

      &.a{
        margin: 0 0 21px;
      }
    }

    .sideleft, .sideright{
      margin: 0 20px;

      img{
        margin-bottom: 20px;
      }

      .caption{
        margin-bottom: 33px;

        h3, p{
          font-size: 13px;
          color: $grey4;
          margin: 0;
          padding: 0;
        }
      }
    }

    blockquote{
      text-align: center;
      margin: 30px 15px;

      p{
        font-size: 40px;
        font-family: $giorgio;
        line-height: 40px;
        width: auto;
        color: $grey12;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 15px;
      }

      &.bqleft{
        line-height: 40px;
        text-align: center;
      }
    }

    @media screen and (max-width: 320px){
      blockquote{
        &:before, &:after{
          content: "";
          border-top: $black solid 2px;
          display: block;
          width: 30%;
          margin: 0 auto;
        }
      }
    }

    @include media ($small) {
      padding-top: 0;

      p{
        font-size: 16px;
        line-height: em(23, 16);

        &.q{
          color: $grey9;
          margin: 0;
          width: 71%;
        }

        &.a{
          margin: 0 0 22px;
          width: 71%;
        }
      }

      .sideleft, .sideright{
        width: 190px;
        margin-top: 5px;
      }

      blockquote{
        margin: 50px 25px;

        p{
          font-size: 80px;
          line-height: 65px;
          margin: 40px 0 50px;
        }

        &.bqleft{
          float: right;
          width: 190px;
          text-align: left;
          margin: 0 20px;

          p{
            font-size: 34px;
            line-height: em(36, 34);
            margin-top: 0;
          }
        }
      }
    }

    @include media ($medium) {
      p{
        &.q{
          width: 535px;
          margin: 0 auto;
        }

        &.a{
          width: 535px;
          margin: 0 auto 22px;
        }
      }

      .sideleft, .sideright{
        margin-left: 5px;
        margin-right: 5px;
      }

      blockquote{
        margin: 40px 70px;

        &.bqleft{
          float: left;
          width: 340px;
          font-size: 44px;
          line-height: 40px;
          margin: 0 30px;
        }
      }
    }

    @include media ($large) {
      p{
        &.q{
          width: 640px;
        }

        &.a{
          width: 640px;
        }
      }

      .sideleft, .sideright{
        width: 225px;
      }

      blockquote{
        margin: 40px 120px;
      }
    }
  }

  .post-foot{
    padding: 0 20px;

    .social.square{
      margin: 37px 0 63px;

      ul, li{
        border-color: $grey10;
      }

      a{
        color: $grey10;
      }
    }
  }

  .reference{
    border-top: $grey5 solid 1px;
    color: $grey11;
    padding: 25px 0 48px;

    h2{
      font-size: 18px;
      margin-bottom: 20px;
    }

    ul{
      font-size: 0;
    }

    li{
      margin-bottom: 5px;
      font-size: 15px;
    }

    a{
      font-size: 15px;
      color: $grey4;
      padding-bottom: 5px;
      display: inline-block;
      border-bottom: 1px solid $grey4;

      &:hover {
        opacity: .6;
      }

    }//a
  }

  @include media ($small) {
    .post-foot{
      width: 71%;
      margin: 0;

      .social.square{
        margin: 45px 0 90px;
      }
    }

    .reference{
      padding: 25px 0 70px;

      li{
        width: 50%;
        display: inline-block;
      }
    }
  }

  @include media ($medium) {
    .post-foot{
      width: 550px;
      margin: 0 auto;
    }
  }

  @include media ($medium) {
    .post-foot{
      width: 640px;
    }
  }
}

.related{
  ul{
    overflow: hidden;
  }

  li{
  }

  a{
    h1{
      width: 120px;
      top: 12px;
      left: 15px;
    }

    h1, span{
      font-size: 37px;
      line-height: 28px;
    }
  }

  @include media ($small) {
    li{
      width: 50%;
      float: left;
    }

    a{
      h1{
        width: 145px;
        top: 20px;
        left: 25px;
      }

      h1, span{
        font-size: 44px;
        line-height: 33px;
      }
    }
  }

  @include media ($medium) {
    a{
      h1{
        width: 200px;
      }

      h1, span{
        font-size: 60px;
        line-height: 45px;
      }
    }
  }
}
